

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 18vh 203vh 30vh;

    grid-template-areas: 
    "header"
    "main"
    "footer";

    header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    
        a {
            text-decoration: none;

            h1 {
                font-family: 'Roboto', sans-serif;
                font-size: 3rem;
                font-style: italic;
                padding: 20px;   
                &:hover {
                    color: grey;
                }                
            }   
        }
           
             ul {
            display: flex;                
                li{
                padding: 5px;
                list-style-type: none;
                font-family: 'Roboto', sans-serif;
                font-size: 1.2rem;
                margin: 20px; 
                    &:hover {
                        color: grey;
                    }
                }
                    a {
                        text-decoration: none;
                    }
    
            }  
    }
}



.paginaprincipal {
    grid-area: main;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 65vh 56vh 82vh;

    grid-template-areas: 
    "propaganda propaganda propaganda propaganda"
    "productos productos productos productos"
    "software software software software";

    .propaganda {
        grid-area: propaganda;
    
        background-image: url(../img/cloud-stinger.jpg);
        background-position:center;
        background-size: cover;
    
        padding: 50px;

            h2 {
                font-family: 'Kanit', sans-serif; 
                font-style: italic;
                font-size: 2.6rem;

                color: white;

                text-shadow: 4px -7px 5px rgba(0,0,0,0.73); 
            }

    }

    .productos {
        grid-area: productos;    
        display: flex;   
        justify-content: space-around;
        align-items: center;    
        padding: 10px;  
       

            article{               
                border: solid 5px #696464;
                width: 20vw;
                height: 28vh;
                margin: 5px; 

                h4{
                    color: white;
                    text-align: center;
                    padding: 10px;
                    font-family:'Roboto', sans-serif;
                    font-size: 2rem;
                    color: #73777B; 
                }

                img{
                    width: 100%;
                    height: 100%;
                }
            }
      
    }

    .software {
        width: 100%;    
        grid-area: software;
        background-image: url(../img/setup.jpg);
        background-position:center;    
        text-align: center;    
        align-items: center;
        justify-content: center;  
        display: flex;
        flex-direction: column;
        color: white;

            h2 {
                font-family:'Roboto', sans-serif;
                font-size: 3rem; 
                color:#1A4D2E
            }

            h3 {
                padding: 30px;
                font-family:'Roboto', sans-serif;
                font-size: 4rem;
                color: black;
                background-color:#1A4D2E; 
                padding: 3px;
                margin-top: 50px;
                text-shadow: 4px -7px 5px rgba(0,0,0,0.73);
            }

            h4 {
                font-size: 1.3rem;
                color: white;   
            }

            p{
                font-family: 'roboto', sans-serif;
                font-size: 2rem;
                background-color: rgba(0, 0, 0, 0.61);
                margin-top: 60px; 
            }

            
    
    }
    
}   

@import "utilidades/variables";

@import "base/reseteo";

@import "componentes/botones";

@import "pages/index"
